[defaults]
host_key_checking = False
stdout_callback = yaml
deprecation_warnings = False
interpreter_python = auto_silent

[persistent_connection]
command_timeout = 300
connect_timeout = 60

[paramiko_connection]
look_for_keys = False
host_key_auto_add = True
